[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "*"
langchain-openai = "*"
langchain-core = "*"
langchain = "*"
langchain-community = "*"
pydantic = "*"
langgraph = "*"
duckduckgo-search = "*"
readability-lxml = "*"
html2text = "*"
markdown = "*"
beautifulsoup4 = "*"
pygithub = "*"
uuid = "*"

[dev-packages]

[requires]
python_version = "3.10"
