[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain = "*"
duckduckgo-search = "*"
html2text = "*"
readability = "*"
readability-lxml = "*"
lxml = {extras = ["html_clean"], version = "*"}
langchain-openai = "*"
streamlit = "*"
langchain-community = "*"
tiktoken = "*"
langchainhub = "*"
chromadb = "*"
tavily-python = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
